---
BasedOnStyle: Google
IndentWidth: 2
ContinuationIndentWidth: 2
---
Language: Cpp
AlignAfterOpenBracket: DontAlign
AccessModifierOffset: -2
BinPackParameters: false
BinPackArguments: false
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Regroup 
IncludeCategories:
  - Regex:          '^<.*\.h>'
    Priority:       1
  - Regex:          '^<.*'
    Priority:       2
  - Regex:          '.*'
    Priority:       3
ReflowComments: true
SortIncludes: true
---
